@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* ~~~~~~~~~~~ Variables Style ~~~~~~~~~~~ */
:root {
	--ff: 'Overpass', sans-serif;
	--fs: 0.9375rem;
	--Orange: hsl(25, 97%, 53%);
	--White: hsl(0, 0%, 100%);
	--LightGrey: hsl(217, 12%, 63%);
	--MediumGrey: hsl(216, 12%, 54%);
	--DarkBlue: hsl(213, 19%, 18%);
	--VeryDarkBlue: hsl(216, 12%, 8%);
	--transition: all 0.4ms ease-in-out;
}

/* ~~~~~~~~~~~ Reset Style ~~~~~~~~~~~ */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

/* ~~~~~~~~~~~ General Style ~~~~~~~~~~~ */

body {
	width: min(100% - 2.5rem, 90rem);
	min-height: calc(100vh - 1px);
	margin-inline: auto;
	font-family: var(--ff);
	font-size: var(--fs);
	line-height: 1.6;
	color: var(--LightGrey);
	display: grid;
	place-content: center;
	background-color: var(--VeryDarkBlue);
}
h1 {
	color: var(--White);
}
h1,
p {
	margin-block: 1rem;
}
ul {
	padding: 0;
	list-style-type: none;
}
button {
	font: inherit;
}

/* ~~~~~~~~~~~ Card Style ~~~~~~~~~~~ */

.card {
	width: 35ch;
	padding: 2rem 1.3rem;
	border-radius: 1rem;
	background-color: var(--DarkBlue);
}
.card__img {
	background-color: hsla(0, 0%, 100%, 0.03);
	padding: 1rem;
	border-radius: 50%;
}
.card__rating {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-block: 2rem;
}
.card__rating-element {
	border-radius: 50%;
	width: 3rem;
	line-height: 3rem;
	text-align: center;
	background-color: hsla(0, 0%, 100%, 0.03);
	font-weight: 700;
	cursor: pointer;
	transition: var(--transition);
}
.card__rating-element:hover,
.card__rating-element:focus {
	color: var(--White);
	background-color: var(--Orange);
}

.card__rating-element.selected {
	color: var(--White);
	background-color: var(--MediumGrey);
}

.card__button {
	width: 100%;
	padding: 0.5rem;
	color: var(--White);
	background-color: var(--Orange);
	border-radius: 2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: var(--transition);
	cursor: pointer;
}
.card__button:hover,
.card__button:focus {
	color: var(--Orange);
	background-color: var(--White);
}
.card__button:disabled {
	color: var(--MediumGrey);
	background-color: var(--LightGrey);
	cursor: default;
}

/* ====================================================== */
/* =================== Thank you states =================== */
/* ====================================================== */

.card__rating-value {
	display: inline-block;
	background-color: hsla(0, 0%, 100%, 0.03);
	padding: 0.5rem 1.2rem;
	border-radius: 2rem;
	color: var(--Orange);
}


/* ~~~~~~~~~~~ Utilities Style ~~~~~~~~~~~ */

.text-center {
	text-align: center;
}

.fade-out {
	animation: fadeOut 0.5s;
	-webkit-animation: fadeOut 0.5s;
	-moz-animation: fadeOut 0.5s;
}
.fade-in {
	animation: fadeIn 0.5s;
	-webkit-animation: fadeIn 0.5s;
	-moz-animation: fadeIn 0.5s;
}

/* Animate opacity */

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-moz-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
